body {
  background-image: url(../../assets/vector/background.svg);
}

#modelPark {
  width: 100%;
  height: 720px;
  border: none;
  overflow: hidden;
}

.verticalLine {
  height: calc(400px - 0.01vw);
  width: 0px;
  border-width: 0.2vw;
  border-radius: 0.2vw;
  border-style: solid;
  border-color: #333333;
  background-color: #333333;
  opacity: 0;
  position: absolute;
  top: 280px;
  -webkit-animation: appearResume 1s 4500ms forwards ease-out;
          animation: appearResume 1s 4500ms forwards ease-out;
}

.divResume {
  height: auto;
  margin-top: 37vh;
  margin-left: 0px;
  opacity: 0;
  -webkit-animation-delay: 4500ms;
          animation-delay: 4500ms;
  -webkit-animation-name: appearResume;
          animation-name: appearResume;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.inaButton {
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid;
  border-color: rgba(51, 51, 51, 0.25);
  margin-top: -5px;
  filter: drop-shadow(0px 0px 1px #333333);
  transition: transform 150ms;
  cursor: pointer;
}
.inaButton:hover {
  transform: scale(1.25);
}
.inaButton:hover {
  border-width: 3;
}

.actButton {
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  border: 3px solid;
  border-color: #333333;
  margin-top: -5px;
  filter: drop-shadow(0px 0px 1px #000);
  transform: scale(1.25);
}
.actButton:hover {
  cursor: context-menu;
}

.canvaClasRuido {
  width: 1200px;
  height: 645px;
}

.logoHero {
  -webkit-animation-name: logoMove;
          animation-name: logoMove;
  width: 12.5vw;
  height: auto;
}

.img1 {
  width: 100px;
  height: auto;
  margin-top: 75px;
  z-index: 1;
  position: absolute;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-name: mueve1a5;
          animation-name: mueve1a5;
}

.img2 {
  width: 100px;
  height: auto;
  margin-top: 75px;
  z-index: 2;
  position: absolute;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  margin-left: 142.5px;
  -webkit-animation-name: mueve2a1;
          animation-name: mueve2a1;
}

.img3 {
  width: 250px;
  height: auto;
  margin-top: 75px;
  z-index: 3;
  position: absolute;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  margin-left: 285px;
  -webkit-animation-name: mueve3a2;
          animation-name: mueve3a2;
}

.img4 {
  width: 100px;
  height: auto;
  margin-top: 0px;
  z-index: 4;
  position: absolute;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  margin-left: 577.5px;
  -webkit-animation-name: mueve4a3;
          animation-name: mueve4a3;
}

.img5 {
  width: 100px;
  height: auto;
  margin-top: 0px;
  z-index: 5;
  position: absolute;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  margin-left: 720px;
  -webkit-animation-name: mueve5a4;
          animation-name: mueve5a4;
}

.img1b {
  width: 100px;
  height: auto;
  margin-top: 75px;
  z-index: 1;
  position: absolute;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-name: mueve5a1;
          animation-name: mueve5a1;
}

.img2b {
  width: 100px;
  height: auto;
  margin-top: 75px;
  z-index: 2;
  position: absolute;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  margin-left: 142.5px;
  -webkit-animation-name: mueve1a2;
          animation-name: mueve1a2;
}

.img3b {
  width: 250px;
  height: auto;
  margin-top: 0px;
  z-index: 3;
  position: absolute;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  margin-left: 285px;
  -webkit-animation-name: mueve2a3;
          animation-name: mueve2a3;
}

.img4b {
  width: 100px;
  height: auto;
  margin-top: 0px;
  z-index: 4;
  position: absolute;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  margin-left: 577.5px;
  -webkit-animation-name: mueve3a4;
          animation-name: mueve3a4;
}

.img5b {
  width: 100px;
  height: auto;
  margin-top: 75px;
  z-index: 5;
  position: absolute;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  margin-left: 720px;
  -webkit-animation-name: mueve4a5;
          animation-name: mueve4a5;
}

#fArea1 {
  background-image: url(../../assets/vector/areasEstudio/salud.svg);
}

#fArea2 {
  background-image: url(../../assets/vector/areasEstudio/logistica.svg);
}

#fArea3 {
  background-image: url(../../assets/vector/areasEstudio/pedagogia.svg);
}

#fArea4 {
  background-image: url(../../assets/vector/areasEstudio/ingenieria.svg);
}

#fArea5 {
  background-image: url(../../assets/vector/areasEstudio/arquitectura.svg);
}

#fArea6 {
  background-image: url(../../assets/vector/areasEstudio/arte.svg);
}

#fArea7 {
  background-image: url(../../assets/vector/areasEstudio/sociologia.svg);
}

#fArea8 {
  background-image: url(../../assets/vector/areasEstudio/ergonomia.svg);
}

.imagenArea {
  background-size: cover;
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: 55% 50%;
}

#fArea1 {
  background-position: 57% 50%;
}

.titleArea {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-width: 5px;
  border-style: solid;
  cursor: pointer;
  transition: 0.25s;
  opacity: 1;
  border-color: transparent;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  -webkit-backdrop-filter: grayscale(100%);
          backdrop-filter: grayscale(100%);
}
.titleArea:hover {
  opacity: 0.75;
  border-color: #333333;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
}

.titleAreaAct {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-width: 5px;
  border-style: solid;
  cursor: context-menu;
  border-color: #ff7c7c;
}

@-webkit-keyframes logoMove {
  0% {
    right: 0px;
  }
  100% {
    right: 24vw;
  }
}

@keyframes logoMove {
  0% {
    right: 0px;
  }
  100% {
    right: 24vw;
  }
}
@-webkit-keyframes mueve1a5 {
  from {
    margin-top: 75px;
    margin-left: 0px;
  }
  to {
    margin-top: 75px;
    margin-left: 720px;
  }
}
@keyframes mueve1a5 {
  from {
    margin-top: 75px;
    margin-left: 0px;
  }
  to {
    margin-top: 75px;
    margin-left: 720px;
  }
}
@-webkit-keyframes mueve2a1 {
  from {
    margin-top: 75px;
    margin-left: 142.5px;
  }
  to {
    margin-top: 75px;
    margin-left: 0px;
  }
}
@keyframes mueve2a1 {
  from {
    margin-top: 75px;
    margin-left: 142.5px;
  }
  to {
    margin-top: 75px;
    margin-left: 0px;
  }
}
@-webkit-keyframes mueve3a2 {
  from {
    margin-top: 0px;
    margin-left: 285px;
    width: 250px;
    height: auto;
  }
  to {
    margin-top: 75px;
    margin-left: 142.5px;
    width: 100px;
    height: auto;
  }
}
@keyframes mueve3a2 {
  from {
    margin-top: 0px;
    margin-left: 285px;
    width: 250px;
    height: auto;
  }
  to {
    margin-top: 75px;
    margin-left: 142.5px;
    width: 100px;
    height: auto;
  }
}
@-webkit-keyframes mueve4a3 {
  from {
    margin-top: 75px;
    margin-left: 577.5px;
    width: 100px;
    height: auto;
  }
  to {
    margin-top: 0px;
    margin-left: 285px;
    width: 250px;
    height: auto;
  }
}
@keyframes mueve4a3 {
  from {
    margin-top: 75px;
    margin-left: 577.5px;
    width: 100px;
    height: auto;
  }
  to {
    margin-top: 0px;
    margin-left: 285px;
    width: 250px;
    height: auto;
  }
}
@-webkit-keyframes mueve5a4 {
  from {
    margin-top: 75px;
    margin-left: 720px;
  }
  to {
    margin-top: 75px;
    margin-left: 577.5px;
  }
}
@keyframes mueve5a4 {
  from {
    margin-top: 75px;
    margin-left: 720px;
  }
  to {
    margin-top: 75px;
    margin-left: 577.5px;
  }
}
@-webkit-keyframes mueve5a1 {
  from {
    margin-top: 75px;
    margin-left: 720px;
  }
  to {
    margin-top: 75px;
    margin-left: 0px;
  }
}
@keyframes mueve5a1 {
  from {
    margin-top: 75px;
    margin-left: 720px;
  }
  to {
    margin-top: 75px;
    margin-left: 0px;
  }
}
@-webkit-keyframes mueve1a2 {
  from {
    margin-top: 75px;
    margin-left: 0px;
  }
  to {
    margin-top: 75px;
    margin-left: 142.5px;
  }
}
@keyframes mueve1a2 {
  from {
    margin-top: 75px;
    margin-left: 0px;
  }
  to {
    margin-top: 75px;
    margin-left: 142.5px;
  }
}
@-webkit-keyframes mueve2a3 {
  from {
    margin-top: 75px;
    margin-left: 142.5px;
    width: 100px;
    height: auto;
  }
  to {
    margin-top: 0px;
    margin-left: 285px;
    width: 250px;
    height: auto;
  }
}
@keyframes mueve2a3 {
  from {
    margin-top: 75px;
    margin-left: 142.5px;
    width: 100px;
    height: auto;
  }
  to {
    margin-top: 0px;
    margin-left: 285px;
    width: 250px;
    height: auto;
  }
}
@-webkit-keyframes mueve3a4 {
  from {
    margin-top: 0px;
    margin-left: 285px;
    width: 250px;
    height: auto;
  }
  to {
    margin-top: 75px;
    margin-left: 577.5px;
    width: 100px;
    height: auto;
  }
}
@keyframes mueve3a4 {
  from {
    margin-top: 0px;
    margin-left: 285px;
    width: 250px;
    height: auto;
  }
  to {
    margin-top: 75px;
    margin-left: 577.5px;
    width: 100px;
    height: auto;
  }
}
@-webkit-keyframes mueve4a5 {
  from {
    margin-top: 75px;
    margin-left: 577.5px;
  }
  to {
    margin-top: 75px;
    margin-left: 720px;
  }
}
@keyframes mueve4a5 {
  from {
    margin-top: 75px;
    margin-left: 577.5px;
  }
  to {
    margin-top: 75px;
    margin-left: 720px;
  }
}/*# sourceMappingURL=elRuido.css.map */