//main Variable----------------------------------------------------------------
//* Variable de color
$blackGrey: #333333;
$blueLink: #0075ff;
$redWater: #ff7c7c;

//main Funciones para el CSS --------------------------------------------------

//funcion Determina la posicion de un elemento
//param $y1: posicion vertical inicial
//param $y2: posicion vertical menos altura del elemento sobre dos
//param $x1: posicion horizontal inicial
//param $x2: posicion horizontal menos ancho del elemento sobre dos
@mixin posicion($y1, $y2, $x1, $x2) {
    margin-top: $y1 - $y2;
    margin-left: $x1 - $x2;
}

//*Estilo para elemento en profundidad z
//param $z: profundidad z
@mixin capa($z) {
    position: absolute;
    z-index: $z;
}

//*Formato para frames
//param $W: ancho
//param $H: alto
@mixin recuadro($w, $h) {
    width: $w;
    height: $h;
    border: none;
    overflow: hidden;
}

//*Estilo para imagenes de salud
//param $W: ancho
//param $mt: margen superior
//param $zi: profundidad z
@mixin imagenSalud($w, $mt, $zi) {
    width: $w;
    height: auto;
    margin-top: $mt;
    z-index: $zi;
    position: absolute;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

//*Estilo para imagenes de areas de estudio activas e inactivas
@mixin imagenArea() {
    width: 4.9vw;
    height: 4.9vw;
    border-radius: 50%;
    border-width: 0.5vw;
    border-style: solid;
}

//funcion Determina el formato para elementos hover
@mixin hoverSize() {
    transition: transform 150ms;
    cursor: pointer;

    &:hover {
        transform: scale(1.25);
    }
}

//funcion Dibujamos lineas
//param $h: altura de la linea
//param $w: ancho de la linea
//param $b: ancho y radio del borde
@mixin dibujaLinea($h, $w, $b) {
    height: $h;
    width: $w;
    border-width: $b;
    border-radius: $b;
    border-style: solid;
    border-color: $blackGrey;
    background-color: $blackGrey;
}

@mixin port {
    @media (orientation: portrait) {
        @content;
    }
}

@mixin land {
    @media (orientation: landscape) {
        @content;
    }
}

//main Divs -------------------------------------------------------------------
//*Cuerpo del documento
body {
    //Imagen de ondas
    background-image: url(../../assets/vector/background.svg);
}

//*Iframe para sketchfab
#modelPark {
    @include recuadro(100%, 720px);
}

//* Dibujar línea vertical
.verticalLine {
    @include dibujaLinea(calc(400px - 0.01vw), 0px, 0.2vw);
    opacity: 0;
    position: absolute;
    top: calc(280px);
    //@include posicion(500px, 0vw, 50%, 0%);
    animation: appearResume 1s 4500ms forwards ease-out;
}

//* Resumen de la página
.divResume {
    height: auto;
    @include posicion(50vh, 13vh, 0px, 0px);
    opacity: 0;
    animation-delay: 4500ms;
    animation-name: appearResume;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

//main Botones-----------------------------------------------------------------
//*Botones en la línea de pasos inactivos
.inaButton {
    @include capa(3);
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid;
    border-color: rgba($blackGrey, 0.25);
    margin-top: -5px;
    filter: drop-shadow(0px 0px 1px $blackGrey);
    @include hoverSize();

    &:hover {
        border-width: 3;
    }
}

//*Botones en la línea de pasos activos
.actButton {
    @include capa(3);
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid;
    border-color: rgba($blackGrey, 1);
    margin-top: -5px;
    filter: drop-shadow(0px 0px 1px #000);
    transform: scale(1.25);
    &:hover {
        cursor: context-menu;
    }
}

//main Canvas------------------------------------------------------------------
//*Canva para la gráfica de clasificación
.canvaClasRuido {
    width: 1200px;
    height: 645px;
}

//main Imagenes----------------------------------------------------------------

.gifPasos {
    width: 80%;
    height: auto;
    margin-top: 0px;
}

//*Imagen que se mueve en el hero
.logoHero {
    animation-name: logoMove;
    width: 12.5vw;
    height: auto;

    @include port {
        animation-name: no;
        width: 25vw;
        height: auto;
    }
}

//*Imagenes sobre los efectos en la salud en avance
.img1 {
    @include imagenSalud(5.3vw, 3.9vw, 1);
    animation-name: mueve1a5;
}

.img2 {
    @include imagenSalud(5.3vw, 3.9vw, 2);
    margin-left: 7.6vw;
    animation-name: mueve2a1;
}

.img3 {
    @include imagenSalud(13.2vw, 3.9vw, 3);
    margin-left: 15.1vw;
    animation-name: mueve3a2;
}

.img4 {
    @include imagenSalud(5.3vw, 0px, 4);
    margin-left: 30.6vw;
    animation-name: mueve4a3;
}

.img5 {
    @include imagenSalud(5.3vw, 0px, 5);
    margin-left: 38.2vw;
    animation-name: mueve5a4;
}

//*Imagenes sobre los efectos en la salud en retroceso
.img1b {
    @include imagenSalud(5.3vw, 3.9vw, 1);
    animation-name: mueve5a1;
}

.img2b {
    @include imagenSalud(5.3vw, 3.9vw, 2);
    margin-left: 7.6vw;
    animation-name: mueve1a2;
}

.img3b {
    @include imagenSalud(13.2vw, 0px, 3);
    margin-left: 15.1vw;
    animation-name: mueve2a3;
}

.img4b {
    @include imagenSalud(5.3vw, 0px, 4);
    margin-left: 30.6vw;
    animation-name: mueve3a4;
}

.img5b {
    @include imagenSalud(5.3vw, 3.9vw, 5);
    margin-left: 38.2vw;
    animation-name: mueve4a5;
}

//*Imagenes sobre areas de estudio
#fArea1 {
    background-image: url(../../assets/vector/areasEstudio/salud.svg);
}

#fArea2 {
    background-image: url(../../assets/vector/areasEstudio/logistica.svg);
}

#fArea3 {
    background-image: url(../../assets/vector/areasEstudio/pedagogia.svg);
}

#fArea4 {
    background-image: url(../../assets/vector/areasEstudio/ingenieria.svg);
}

#fArea5 {
    background-image: url(../../assets/vector/areasEstudio/arquitectura.svg);
}

#fArea6 {
    background-image: url(../../assets/vector/areasEstudio/arte.svg);
}

#fArea7 {
    background-image: url(../../assets/vector/areasEstudio/sociologia.svg);
}

#fArea8 {
    background-image: url(../../assets/vector/areasEstudio/ergonomia.svg);
}

//*Estilo de todas la imagenes de areas de estudio
.imagenArea {
    background-size: cover;
    background-size: 4.2vw;
    background-repeat: no-repeat;
    background-position: 55% 50%;
}

#fArea1 {
    background-position: 57% 50%;
}

//*Estilo para imagenes de areas de estudio activas
.titleArea {
    @include imagenArea();
    cursor: pointer;
    transition: 0.25s;
    opacity: 1;
    border-color: transparent;
    backdrop-filter: blur(1px);
    backdrop-filter: grayscale(100%);
    &:hover {
        opacity: 0.75;
        border-color: $blackGrey;
        backdrop-filter: blur(0px);
    }
}

//*Estilo para imagenes de areas de estudio inactivas
.titleAreaAct {
    @include imagenArea();
    cursor: context-menu;
    border-color: $redWater;
}

//main Animation---------------------------------------------------------------
//*Animación para el logo
@keyframes logoMove {
    0% {
        right: 0px;
    }
    100% {
        right: 24vw;
    }
}

//*Animaciones para las imagenes de la salud en avance
@keyframes mueve1a5 {
    from {
        @include posicion(3.9vw, 0vw, 0vw, 0vw);
    }
    to {
        @include posicion(3.9vw, 0vw, 38.2vw, 0vw);
    }
}

@keyframes mueve2a1 {
    from {
        @include posicion(3.9vw, 0vw, 7.6vw, 0vw);
    }
    to {
        @include posicion(3.9vw, 0vw, 0vw, 0vw);
    }
}

@keyframes mueve3a2 {
    from {
        @include posicion(0vw, 0vw, 15.1vw, 0vw);
        width: 13.2vw;
        height: auto;
    }
    to {
        @include posicion(3.9vw, 0vw, 7.6vw, 0vw);
        width: 5.3vw;
        height: auto;
    }
}

@keyframes mueve4a3 {
    from {
        @include posicion(3.9vw, 0vw, 30.6vw, 0vw);
        width: 5.3vw;
        height: auto;
    }
    to {
        @include posicion(0vw, 0vw, 15.1vw, 0vw);
        width: 13.2vw;
        height: auto;
    }
}

@keyframes mueve5a4 {
    from {
        @include posicion(3.9vw, 0vw, 38.2vw, 0vw);
    }
    to {
        @include posicion(3.9vw, 0vw, 30.6vw, 0vw);
    }
}

//*Animaciones para las imagenes de la salud en retroceso
@keyframes mueve5a1 {
    from {
        @include posicion(3.9vw, 0vw, 38.2vw, 0vw);
    }
    to {
        @include posicion(3.9vw, 0vw, 0vw, 0vw);
    }
}

@keyframes mueve1a2 {
    from {
        @include posicion(3.9vw, 0vw, 0vw, 0vw);
    }
    to {
        @include posicion(3.9vw, 0vw, 7.6vw, 0vw);
    }
}

@keyframes mueve2a3 {
    from {
        @include posicion(3.9vw, 0vw, 7.6vw, 0vw);
        width: 5.3vw;
        height: auto;
    }
    to {
        @include posicion(0vw, 0vw, 15.1vw, 0vw);
        width: 13.2vw;
        height: auto;
    }
}

@keyframes mueve3a4 {
    from {
        @include posicion(0vw, 0vw, 15.1vw, 0vw);
        width: 13.2vw;
        height: auto;
    }
    to {
        @include posicion(3.9vw, 0vw, 30.6vw, 0vw);
        width: 5.3vw;
        height: auto;
    }
}

@keyframes mueve4a5 {
    from {
        @include posicion(3.9vw, 0vw, 30.6vw, 0vw);
    }
    to {
        @include posicion(3.9vw, 0vw, 38.2vw, 0vw);
    }
}
