//Variables--------------------------------------------------------------------------------------------------------
$blackGrey: #333333;
$blueLink: #0075ff;

//Mixins-----------------------------------------------------------------------------------------------------------
@mixin posicion($y1, $y2, $x1, $x2) {
    margin-top: $y1 - $y2;
    margin-left: $x1 - $x2;
}

//Divs--------------------------------------------------------------------------------------------------------------
body {
    background-image: url(../../assets/vector/background.svg);
}

.hero {
    background: url(../../assets/vector/FondoCDMX.svg);
    background-size: cover;
    height: 100vh;
    display: flex;
    animation-duration: 30s;
    //animation-name: moveFondo;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes moveFondo {
    0% {
        background-position: 100vw;
    }
    100% {
        background-position: 0vw;
    }
}

#modelOver, #modelOut{
    width: 100%;
    height: 720px;
    border: none;
    overflow: hidden;
}

//botones----------------------------------------------------------------------------------------------------------
.inaButton {
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid;
    border-color: rgba($blackGrey, 0.25);
    margin-top: -5px;
    filter: drop-shadow(0px 0px 1px #000);

    &:hover {
        transform: scale(1.25);
        border-width: 3;
    }
}

.actButton {
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid;
    border-color: rgba($blackGrey, 1);
    margin-top: -5px;
    filter: drop-shadow(0px 0px 1px #000);
    transform: scale(1.25);
    &:hover {
        cursor: context-menu;
    }
}

/*canvas---------------------------------------------------------------------------------------------------------*/
.canvaClasRuido {
    width: 1200px;
    height: 645px;
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

//Imagenes-----------------------------------------------------------------------------------------------------------
.logoHero {
    animation-name: logoMove;
}

.img1 {
    margin-top: 75px;
    width: 100px;
    height: auto;
    position: absolute;
    z-index: 1;
    //animation-delay: 4s;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-name: mueve1a5;
}

.img2 {
    margin-top: 75px;
    width: 100px;
    height: auto;
    position: absolute;
    z-index: 2;
    margin-left: 142.5px;
    //animation-delay: 4s;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-name: mueve2a1;
}

.img3 {
    margin-top: 75px;
    width: 250px;
    height: auto;
    position: absolute;
    z-index: 3;
    margin-left: 285px;
    //animation-delay: 4s;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-name: mueve3a2;
}

.img4 {
    width: 100px;
    height: auto;
    position: absolute;
    z-index: 4;
    margin-left: 577.5px;
    //animation-delay: 4s;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-name: mueve4a3;
}

.img5 {
    margin-top: 75px;
    width: 100px;
    height: auto;
    position: absolute;
    z-index: 5;
    margin-left: 720px;
    //animation-delay: 4s;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-name: mueve5a4;
}

.img1b {
    margin-top: 75px;
    width: 100px;
    height: auto;
    position: absolute;
    z-index: 1;
    //animation-delay: 4s;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-name: mueve5a1;
}

.img2b {
    margin-top: 75px;
    width: 100px;
    height: auto;
    position: absolute;
    z-index: 2;
    margin-left: 142.5px;
    //animation-delay: 4s;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-name: mueve1a2;
}

.img3b {
    height: auto;
    position: absolute;
    z-index: 3;
    margin-left: 285px;
    //animation-delay: 4s;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-name: mueve2a3;
}

.img4b {
    margin-top: 75px;
    width: 100px;
    height: auto;
    position: absolute;
    z-index: 4;
    margin-left: 577.5px;
    //animation-delay: 4s;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-name: mueve3a4;
}

.img5b {
    margin-top: 75px;
    width: 100px;
    height: auto;
    position: absolute;
    z-index: 5;
    margin-left: 720px;
    //animation-delay: 4s;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-name: mueve4a5;
}

#fArea1{
    background-image: url(../../assets/vector/areasEstudio/salud.svg);

}

#fArea2{
    background-image: url(../../assets/vector/areasEstudio/logistica.svg);
}

#fArea3{
    background-image: url(../../assets/vector/areasEstudio/pedagogia.svg);
}

#fArea4{
    background-image: url(../../assets/vector/areasEstudio/ingenieria.svg);
}

#fArea5{
    background-image: url(../../assets/vector/areasEstudio/arquitectura.svg);

}

#fArea6{
    background-image: url(../../assets/vector/areasEstudio/arte.svg);
}

#fArea7{
    background-image: url(../../assets/vector/areasEstudio/sociologia.svg);
}

#fArea8{
    background-image: url(../../assets/vector/areasEstudio/ergonomia.svg);
}

.imagenArea{
    background-size: cover;
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: 56% 50%;
}

.titleArea {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: 0.25s;
    opacity: 1;
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    backdrop-filter: blur(1px);
    backdrop-filter: grayscale(100%); 
    &:hover {
        opacity: 0.75;
        border-color: $blackGrey;
        backdrop-filter: blur(0px); 
    }
}

.titleAreaAct {
    cursor: context-menu;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-color: #FF7C7C;
    border-width: 5px;
    border-style: solid;
}

//Animation---------------------------------------------------------------------------------------------------------
@keyframes logoMove {
    0% {
        right: 0px;
    }
    100% {
        right: 24vw;
    }
}

@keyframes appearResume {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes mueve1a5 {
    from {
        margin-top: 75px;
        margin-left: 0;
    }
    to {
        margin-top: 75px;
        margin-left: 720px;
    }
}

@keyframes mueve2a1 {
    from {
        margin-top: 75px;
        margin-left: 142.5px;
    }
    to {
        margin-top: 75px;
        margin-left: 0px;
    }
}

@keyframes mueve3a2 {
    from {
        margin-top: 0px;
        margin-left: 285px;
        width: 250px;
        height: auto;
    }
    to {
        margin-top: 75px;
        margin-left: 142.5px;
        width: 100px;
        height: auto;
    }
}

@keyframes mueve4a3 {
    from {
        margin-top: 75px;
        margin-left: 577.5px;
        width: 100px;
        height: auto;
    }
    to {
        margin-top: 0px;
        margin-left: 285px;
        width: 250px;
        height: auto;
    }
}

@keyframes mueve5a4 {
    from {
        margin-top: 75px;
        margin-left: 720px;
    }
    to {
        margin-top: 75px;
        margin-left: 577.5px;
    }
}

@keyframes mueve5a1 {
    from {
        margin-top: 75px;
        margin-left: 720px;
    }
    to {
        margin-top: 75px;
        margin-left: 0;
    }
}

@keyframes mueve1a2 {
    from {
        margin-top: 75px;
        margin-left: 0px;
    }
    to {
        margin-top: 75px;
        margin-left: 142.5px;
    }
}

@keyframes mueve2a3 {
    from {
        margin-top: 75px;
        margin-left: 142.5px;
        width: 100px;
        height: auto;
    }
    to {
        margin-top: 0px;
        margin-left: 285px;
        width: 250px;
        height: auto;
    }
}

@keyframes mueve3a4 {
    from {
        margin-top: 0px;
        margin-left: 285px;
        width: 250px;
        height: auto;
    }
    to {
        margin-top: 75px;
        margin-left: 577.5px;
        width: 100px;
        height: auto;
    }
}

@keyframes mueve4a5 {
    from {
        margin-top: 75px;
        margin-left: 577.5px;
    }
    to {
        margin-top: 75px;
        margin-left: 720px;
    }
}
