//fonts-----------------------------------------------------------------------------------------------------------
@font-face {
    font-family: "Montserrat-B";
    src: url(../../assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Montserrat-M";
    src: url(../../assets/fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "Montserrat-R";
    src: url(../../assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat-T";
    src: url(../../assets/fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: "Montserrat-SB";
    src: url(../../assets/fonts/Montserrat-SemiBold.ttf);
}

//Variable-------------------------------------------------------------------------------------------------------
$blackGrey: #333333;
$yellow: #fff101;
$blueLink: #0075ff;

//Mixins-----------------------------------------------------------------------------------------------------------
@mixin posicion($y1, $y2, $x1, $x2) {
    margin-top: $y1 - $y2;
    margin-left: $x1 - $x2;
}

@mixin text($align, $fsize, $fweight, $lineH, $letterS) {
    @if $fweight == "B" {
        font-family: Montserrat-B;
    } @else {
        @if $fweight == "R" {
            font-family: Montserrat-R;
        } @else {
            @if $fweight == "T" {
                font-family: Montserrat-T;
            } @else {
                @if $fweight == "SB" {
                    font-family: Montserrat-SB;
                } @else {
                    font-family: Montserrat-M;
                }
            }
        }
    }
    font-size: $fsize;
    line-height: $lineH;
    color: $blackGrey;
    text-align: $align;
    letter-spacing: $letterS;
}

@mixin hoverSize() {
    transition: transform 150ms;
    cursor: pointer;

    &:hover {
        transform: scale(1.25);
    }
}

@mixin paddingGeneral() {
    padding: 0px 85px;
}

@mixin superPo($index) {
    position: absolute;
    z-index: $index;
}

//scroll-bar-----------------------------------------------------------------------------------------------------
::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    /*color: #999999*/
}

::-webkit-scrollbar-thumb {
    background: rgba($blackGrey, 0.5);
    border-radius: 10px;
    width: 4px;
    margin-left: 3px;
    margin-right: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: $blackGrey;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: transparent;
}

//divs-----------------------------------------------------------------------------------------------------------
body,
html {
    margin: 0;
    padding: 0;
}

.columna {
    padding: 0px 25px;
}

.columnaCh {
    padding: 0px 2px;
}

.verticalLine {
    opacity: 0;
    height: 46.3vh;
    width: 0px;
    border-width: 3px;
    border-radius: 3px;
    border-style: solid;
    border-color: $blackGrey;
    background-color: $blackGrey;
    @include posicion(50vh, 23.15vh, 50%, 0%);
    animation: appearResume 1s 4500ms forwards ease-out;
}

.verticalLineNos {
    height: 100%;
    width: 0px;
    border-width: 1px;
    border-radius: 1px;
    border-style: solid;
    border-color: $blackGrey;
    background-color: $blackGrey;
    //@include posicion(50vh, 42.5vh, 0, 0);
}

.divResume {
    height: auto;
    @include posicion(50vh, 13vh, 0px, 0px);
    opacity: 0;
    animation-delay: 4500ms;
    animation-name: appearResume;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.hrSwal {
    width: 225px;
    border-color: $blackGrey;
    border-width: 1px;
    border-style: solid;
    align-items: center;
    margin-bottom: 10px;
}

.divIzqNos {
    margin-top: 5vh;
    position: fixed;
    margin-left: 50px;
}

.divDerNos {
    margin-top: 5vh;
    //padding-bottom: 10vh;
    margin-right: 50px;
}

.divBody {
    @include paddingGeneral();
}

.imagenHero {
    @include superPo(2);
}

.divHero {
    height: 100vh;
    @include superPo(1);
    @include paddingGeneral();
}

.footer{
    padding: 85px 0px;
    background-color: rgba($blackGrey,0.75);
    background-image: url(../../assets/vector/background.svg);
    margin-top: 200px;
    margin-left: 0px;
}

.navIzq{
    z-index: 10;
    position: fixed;
    width: 280px;
    height: 100vh;
    backdrop-filter: blur(0px);
    transition-duration: 250ms;
    &:hover{
        backdrop-filter: blur(10px);
    }
}

.textoDivNavAct{
    padding-top: 20px;
    opacity: 50%;
    cursor: pointer;
    &:hover{
        opacity: 100%;
        text-decoration: underline;
        outline: none;
    }
}

.textoDivNavIna{
    padding-top: 20px;
    opacity: 100%;
    cursor: pointer;
}

//images----------------------------------------------------------------------------------------------------------
.logoHero {
    height: 23.06vh;
    width: auto;
    position: relative;
    @include posicion(50vh, 11.53vh, 50vw, 6.51vw);
    animation-delay: 4s;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    @include hoverSize();
}

.logoHUBBUB {
    width: 280px;
    height: auto;
    padding-bottom: 71px;
}

.iconNosotros {
    padding: 0px 10px;
    @include hoverSize();
}

.imgSub {
    width: 30px;
    height: auto;
    margin-right: 15px;
}

.flechaOido {
    cursor: pointer;
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}

.navIzqIcon{
    width: 20px;
    height: 20px;
    margin: -6px 15px 0px 10px;
}

//text------------------------------------------------------------------------------------------------------------
::selection {
    color: $blackGrey;
    background: $yellow;
}

.pageTitle {
    @include text(left, 64px, "B", 78px, normal);
    text-transform: uppercase;
}

.textCorrido {
    @include text(justify, 20px, "M", 24px, -0.5);
}

.textHUBBUBC{
    @include text(center, 20px, "M", 24px, normal);
}

.textNavIzq {
    @include text(center, 14px, "M", 16px, normal);
    opacity: 0;
}

.textAvisoN {
    @include text(center, 10px, "R", 1px, normal);
}

.textDerechosN {
    @include text(center, 10px, "T", 1px, normal);
}

.subtitle {
    @include text(left, 40px, "B", 49px, normal);
    text-transform: uppercase;
}

.refe {
    @include text(left, 14px, "M", 17px, -0.5);
}

.subNos {
    text-transform: none;
}

.subOido {
    @include text(left, 32px, "SB", 39px, normal);
    /*background-color: #7ce0ff;
    border-width: 3px;
    border-style: solid;
    border-color: #7ce0ff;*/
}

.textSubOido {
    background-color: #7ce0ff;
    border-width: 5px;
    border-style: solid;
    border-color: #7ce0ff;
    padding: 0px 5px;
}

a {
    text-decoration: none;
    &:focus {
        outline: none;
    }
}

.link {
    @include text(left, 20, "SB", 0, -0.5);
    color: $blueLink;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.textClasf {
    padding-top: 30px;
    text-align-last: center;
}

h2.linea {
    position: relative;
    z-index: 1;
}
h2.linea:before {
    border-top: 5px solid rgba($blackGrey, 0.25);
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
h2.linea titulo {
    background: white;
    padding: 0 50px;
}

.tituloFooter{
    @include text(left, 20px, "B", 24px, normal);
    color: white;
    text-transform: uppercase;
}

.linkFooter{
    @include text(left, 16px, "T", 10px, normal);
    color: white;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}

.linkFooterAct{
    @include text(left, 16px, "B", 10px, normal);
    color: white;
    text-decoration: underline;
}

.subFooterText{
    @include text(left, 15px, "T", 5px, normal);
}

//Swal-------------------------------------------------------------------------------------------------------------
.swal-height {
    height: 81.48vh;
    border-radius: 25px;
}

//Animation---------------------------------------------------------------------------------------------------------
@keyframes appearResume {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
