//main Variable----------------------------------------------------------------
//* Variable de color
$blackGrey: #333333;
$grey: #666666;
$yellow: #fff101;
$blueLink: #0075ff;
$white: #ffffff;

//main fonts-------------------------------------------------------------------
//* Fuente Semi-bold
@font-face {
    font-family: "Montserrat-SB";
    src: url(../../assets/fonts/Montserrat-SemiBold.ttf);
}

//* Fuente bold
@font-face {
    font-family: "Montserrat-B";
    src: url(../../assets/fonts/Montserrat-Bold.ttf);
}

//* Fuente medium
@font-face {
    font-family: "Montserrat-M";
    src: url(../../assets/fonts/Montserrat-Medium.ttf);
}

//* Fuente regular
@font-face {
    font-family: "Montserrat-R";
    src: url(../../assets/fonts/Montserrat-Regular.ttf);
}

//* Fuente thin
@font-face {
    font-family: "Montserrat-T";
    src: url(../../assets/fonts/Montserrat-Light.ttf);
}

//* Formato de la selección
::selection {
    color: $blackGrey;
    background: $yellow;
}

//main Funciones para el CSS---------------------------------------------------

//funcion Determina la posicion de un elemento
//param $y1: posicion vertical inicial
//param $y2: posicion vertical menos altura del elemento sobre dos
//param $x1: posicion horizontal inicial
//param $x2: posicion horizontal menos ancho del elemento sobre dos
@mixin posicion($y1, $y2, $x1, $x2) {
    margin-top: $y1 - $y2;
    margin-left: $x1 - $x2;
}

//funcion Determina el formato del texto
//param $align: alineacion del texto
//param $fsize: tamaño del texto
//param $fweight: peso del texto
//param $lineH: altura de la linea
//param $letterS: espaciado de letras
@mixin text($align, $fsize, $fweight, $lineH, $letterS) {
    //* Evaluamos $fweight y determinamos el peso del texto
    @if $fweight == "B" {
        font-family: Montserrat-B;
    } @else {
        @if $fweight == "R" {
            font-family: Montserrat-R;
        } @else {
            @if $fweight == "T" {
                font-family: Montserrat-T;
            } @else {
                @if $fweight == "SB" {
                    font-family: Montserrat-SB;
                } @else {
                    font-family: Montserrat-M;
                }
            }
        }
    }
    //* Determinamos el resto del formato
    font-size: $fsize;
    line-height: $lineH;
    color: $blackGrey;
    text-align: $align;
    letter-spacing: $letterS;
}

//funcion Determina el formato para elementos hover
@mixin hoverSize() {
    transition: transform 150ms;
    cursor: pointer;

    &:hover {
        transform: scale(1.25);
    }
}

//funcion Determina el padding de elementos a 12 columnas abiertas
@mixin paddingGeneral() {
    padding: 0px 85px;
}

//funcion Estilo para elemento en profundidad z
//param $z: profundidad z
@mixin capa($z) {
    position: absolute;
    z-index: $z;
}

//funcion Dibujamos lineas
//param $h: altura de la linea
//param $w: ancho de la linea
//param $b: ancho y radio del borde
@mixin dibujaLinea($h, $w, $b) {
    height: $h;
    width: $w;
    border-width: $b;
    border-radius: $b;
    border-style: solid;
    border-color: $blackGrey;
    background-color: $blackGrey;
}

//funcion Mostramos u ocultamos el nav izquierdo
//param $opa: opacidad del nav
@mixin divIzq($opa) {
    padding-top: 20px;
    opacity: $opa;
    cursor: pointer;
}

//funcion Elegimos la animación de las lineas
//param $line: nombre de la animación
@mixin iconDivDer($line) {
    @if ($line == 1) {
        animation-name: primerDiagonal;
    }
    @if ($line == 2) {
        animation-name: segundaDiagonal;
    }
    @if ($line == 3) {
        animation-name: terceraDiagonal;
    }
    @if ($line == 4) {
        animation-name: primerDiagonalB;
    }
    @if ($line == 5) {
        animation-name: segundaDiagonalB;
    }
    @if ($line == 6) {
        animation-name: terceraDiagonalB;
    }
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

//main Scroll-bar--------------------------------------------------------------

//* Barra total de desplazamiento
::-webkit-scrollbar {
    width: 12px;
    background-color: $grey;
}

//* Riel del scroll
::-webkit-scrollbar-track {
    background-color: transparent;
}

//*Barrita de desplazamiento
::-webkit-scrollbar-thumb {
    background: $white;
    border-style: solid;
    border-width: 0px 4px 0px 0px;
    border-color: $grey;
}

//*Barrita de desplazamiento en hover
::-webkit-scrollbar-thumb:hover {
    background: $white;
}

//*Estado fuera de la página del scroll
::-webkit-scrollbar-thumb:window-inactive {
    background: $white;
}

//main Divs--------------------------------------------------------------------
//* Cuerpo el documento y el propio documento
body,
html {
    margin: 0;
    padding: 0;
}

//* Formato de medianil estandar
.columna {
    padding: 0px 25px;
}

//* Formato de medianil para columnas angostas
.columnaCh {
    padding: 0px 2px;
}

//* Línea vertical del swal
.verticalLineNos {
    @include dibujaLinea(100%, 0px, 1px);
}

.verticalLineEmi {
    @include dibujaLinea(100%, 0px, 1px);
}

//* Línea horizontal del swal para legales
.hrSwal {
    @include dibujaLinea(1px, 225px, 1px);
    align-items: center;
    margin-bottom: 10px;
}

//* Línea horizontal del nav derecho
.hrNavDer {
    @include dibujaLinea(1px, 100%, 1px);
    align-items: center;
    margin-bottom: 10px;
    background-color: white;
    border-color: white;
}

//* Sección izquierda del swal nosotros
.divIzqNos {
    margin-top: 5vh;
    position: fixed;
    margin-left: 50px;
}

//* Sección derecha del swal nosotros
.divDerNos {
    @include posicion(5vh, 0vh, 0px, 10px);
}

//* Padding para el cuerpo
.divBody {
    @include paddingGeneral();
}

//* Posicionamiento en z del logo en hero
.imagenHero {
    @include capa(2);
}

//* Tamaño, posición en z y padding del hero
.divHero {
    height: 100vh;
    @include capa(1);
    @include paddingGeneral();
}

//* Formato del footer
.footer {
    padding: 85px 0px;
    background-color: $grey;
    background-image: url(../../assets/vector/background.svg);
    @include posicion(200px, 0px, 0px, 0px);
    position: absolute;
    z-index: 9;
}

.subFooter {
    margin-top: 480px;
    margin-left: 0px;
    position: absolute;
    z-index: 9;
}

//* Formato del navegador izquierdo
.navIzq {
    z-index: 10;
    position: fixed;
    width: 280px;
    height: 100vh;
    backdrop-filter: blur(0px);
    transition-duration: 250ms;
    &:hover {
        backdrop-filter: blur(10px);
    }
}

//* Formato para el navegador izquierdo abierto
.textoDivNavAct {
    @include divIzq(50%);
    &:hover {
        opacity: 100%;
        text-decoration: underline;
        outline: none;
    }
}

//* Formato para el navegador izquierdo colapsado
.textoDivNavIna {
    @include divIzq(100%);
}

//* Formato del navegador derecho
.navDer {
    z-index: 10;
    position: fixed;
    margin-left: calc(100vw - 250px);
    width: 250px;
    height: 100vh;
    background-color: transparent;
    background-image: url(../);
    background-position: center top;
}

//main Images------------------------------------------------------------------

//* Primer sección de una página
.hero {
    //* Imagen de la ciudad de México
    background: url(../../assets/vector/FondoCDMX.svg);
    background-size: cover;
    height: 100vh;
    display: flex;
}

//* Imagen del logo en el hero
.logoHero {
    height: 23.06vh;
    width: auto;
    position: relative;
    @include posicion(50vh, 11.53vh, 50vw, 6.51vw);
    animation-delay: 4s;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    @include hoverSize();
}

//* Imagen del logo en el swal
.logoHUBBUB {
    width: 280px;
    height: auto;
    padding-bottom: 71px;
}

//* Iconos de redes dentro del swal
.iconNosotros {
    padding: 0px 10px;
    @include hoverSize();
}

//* Iconos de los subtitulos
.imgSub {
    width: 30px;
    height: auto;
    margin-right: 15px;
}

//* Flechas para los carruseles
.flechaOido {
    cursor: pointer;
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}

//* Iconos para el navegardor izquierdo
.navIzqIcon {
    width: 20px;
    height: 20px;
    margin: -6px 15px 0px 10px;
}

//* Iconos del navegador derecho
.topLineAct {
    @include iconDivDer(1);
}

.midLineAct {
    @include iconDivDer(2);
}

.botLineAct {
    @include iconDivDer(3);
}

.topLineIna {
    @include iconDivDer(4);
}

.midLineIna {
    @include iconDivDer(5);
}

.botLineIna {
    @include iconDivDer(6);
}

.iconNavDer {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    @include hoverSize();
}

//* Logo de HUBBUB en el footer
.logoFoot {
    @include hoverSize();
}

//main Text--------------------------------------------------------------------

//* Titulo que aparece en el hero
.pageTitle {
    @include text(left, 64px, "B", 78px, normal);
    text-transform: uppercase;
}

//* Subtitulo en el swal
.subtitle {
    @include text(left, 40px, "B", 49px, normal);
    text-transform: uppercase;
}

//* Subtitulos dentro de las secciones
.subOido {
    @include text(left, 32px, "SB", 39px, normal);
}

//* Links del nav derecho activos
.linkNavDerAct {
    @include text(center, 32px, "SB", 39px, normal);
    text-decoration: underline;
    color: white;
}

//* Fecha main en la gráfica de partcipación
.fechaMain {
    @include text(right, 24px, "SB", 29px, normal);
}


//* Links del nav derecho inactivos
.linkNavDerIna {
    @include text(center, 20px, "R", 24px, normal);
    text-decoration: none;
    color: white;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

//* Parrafos normales
.textCorrido {
    @include text(justify, 20px, "M", 24px, normal);
}

//* Links dentro de parrafos
.link {
    @include text(left, 20px, "SB", 0, -0.5);
    color: $blueLink;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

//* Titulo de las secciones del footer
.tituloFooter {
    @include text(left, 20px, "B", 24px, normal);
    color: white;
    text-transform: uppercase;
}

//* Links dentro del footer
.linkFooter {
    @include text(left, 16px, "T", 10px, normal);
    color: white;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

//* Links para secciones en las que ya nos encontramos
.linkFooterAct {
    @include text(left, 16px, "B", 10px, normal);
    color: white;
    text-decoration: underline;
}

//* Texto de la cita y embed
.textCita {
    @include text(left, 15px, "M", 25px, normal);
}

//* Textos del subfooter
.subFooterText {
    @include text(left, 15px, "T", 5px, normal);
}

//* Textos del nav izquierdo
.textNavIzq {
    @include text(center, 14px, "M", 16px, normal);
    opacity: 0;
}

//* Texto de referencias
.refe {
    @include text(left, 14px, "M", 17px, -0.5);
}

//* Aviso de privacidad en el Swal
.textAvisoN {
    @include text(center, 10px, "R", 1px, normal);
}

//* Todos los derechos en el Swal
.textDerechosN {
    @include text(center, 10px, "T", 1px, normal);
}

//* Subrayado de los subtitulos
.textSubOido {
    background-color: #7ce0ff;
    border-width: 5px;
    border-style: solid;
    border-color: #7ce0ff;
    padding: 0px 5px;
}

//* Formato para links
a {
    text-decoration: none;
    &:focus {
        outline: none;
    }
}

//* Texto para las columnas en clasificación del ruido
.textClasf {
    padding-top: 30px;
    text-align-last: center;
}

//* Líneas del titulo
h2.linea {
    z-index: 1;
    position: relative;
}
h2.linea:before {
    border-top: 5px solid rgba($blackGrey, 0.25);
    content: "";
    margin: 0 auto;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    @include capa(-1);
}
h2.linea titulo {
    background: white;
    padding: 0 50px;
}

//main Swal--------------------------------------------------------------------
//* Formato general de los swal
.swal-height {
    height: 81.48vh;
    border-radius: 25px;
}

//main Animation---------------------------------------------------------------

//*Animación para la aparición del resumen de la página
@keyframes appearResume {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

//* Animación de movimiento para el icono del lateral derecho hamb-tache
@keyframes primerDiagonal {
    from {
        transform: rotate(0deg) translateX(0px) translateY(0px);
    }
    to {
        transform: rotate(45deg) translateX(10px) translateY(-10px);
        stroke: white;
    }
}
@keyframes segundaDiagonal {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        stroke: white;
    }
}
@keyframes terceraDiagonal {
    from {
        transform: rotate(0deg) translateX(0px) translateY(0px);
    }
    to {
        transform: rotate(-45deg) translateX(-20px) translateY(0px);
        stroke: white;
    }
}

//* Animación de movimiento para el icono del lateral derecho tache-hamb
@keyframes primerDiagonalB {
    from {
        transform: rotate(45deg) translateX(10px) translateY(-10px);
        stroke: white;
    }
    to {
        transform: rotate(0deg) translateX(0px) translateY(0px);
        stroke: $blackGrey;
    }
}
@keyframes segundaDiagonalB {
    from {
        opacity: 0;
        stroke: white;
    }
    to {
        opacity: 1;
        stroke: $blackGrey;
    }
}
@keyframes terceraDiagonalB {
    from {
        transform: rotate(-45deg) translateX(-20px) translateY(0px);
        stroke: white;
    }
    to {
        transform: rotate(0deg) translateX(0px) translateY(0px);
        stroke: $blackGrey;
    }
}
