/*fonts-----------------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: "Montserrat-B";
    src: url(../../assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Montserrat-M";
    src: url(../../assets/fonts/Montserrat-Medium.ttf);
}

/*Variable-------------------------------------------------------------------------------------------------------*/
$blackGrey: #333333;


/*scroll-bar-----------------------------------------------------------------------------------------------------*/
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    /*color: #999999*/
}

::-webkit-scrollbar-thumb {
    background: rgba($blackGrey, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background: $blackGrey;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: transparent;
}

/*canvas---------------------------------------------------------------------------------------------------------*/

.canvaClasRuido {
    width: 1200px;
    height: 645px;
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

/*divs-----------------------------------------------------------------------------------------------------------*/

body ,
html {
    margin: 0;
    padding: 0;
}

.hero {
    background: linear-gradient(rgba(255, 255, 255, 0.75) 100%, rgba(255, 255, 255, 0.75)), url(../../assets/gif/HeroGif.gif);
    background-size: cover;
    height: 100vh;
    display: flex;
}

.columna {
    padding: 0px 25px;
}

