@font-face {
  font-family: "Montserrat-SB";
  src: url(../../assets/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: "Montserrat-B";
  src: url(../../assets/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat-M";
  src: url(../../assets/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Montserrat-R";
  src: url(../../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-T";
  src: url(../../assets/fonts/Montserrat-Light.ttf);
}
.logoHero {
  -webkit-animation-name: logoMove;
          animation-name: logoMove;
}

.verticalLine {
  height: 46.3vh;
  width: 0px;
  border-width: 3px;
  border-radius: 3px;
  border-style: solid;
  border-color: #333333;
  background-color: #333333;
  opacity: 0;
  margin-top: 26.85vh;
  margin-left: 50%;
  -webkit-animation: appearResume 1s 4500ms forwards ease-out;
          animation: appearResume 1s 4500ms forwards ease-out;
}

.divResume {
  height: auto;
  margin-top: 37vh;
  margin-left: 0px;
  opacity: 0;
  -webkit-animation-delay: 4500ms;
          animation-delay: 4500ms;
  -webkit-animation-name: appearResume;
          animation-name: appearResume;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.introIcon {
  height: 40px;
  width: auto;
  margin-left: 50px;
  transition: transform 150ms;
  cursor: pointer;
}
.introIcon:hover {
  transform: scale(1.25);
}

@-webkit-keyframes logoMove {
  0% {
    right: 0px;
  }
  100% {
    right: -24vw;
  }
}

@keyframes logoMove {
  0% {
    right: 0px;
  }
  100% {
    right: -24vw;
  }
}
@-webkit-keyframes appearResume {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearResume {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btnAnualAct {
  width: 100%;
  height: 40px;
  font-family: Montserrat-M;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  text-align: center;
  letter-spacing: normal;
  color: #ef5da8;
  background-color: transparent;
  border-color: #ef5da8;
  border-width: 3px;
  border-style: solid;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding-top: 5px;
  cursor: context-menu;
}

.btnAnualIna {
  width: 100%;
  height: 40px;
  font-family: Montserrat-M;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  text-align: center;
  letter-spacing: normal;
  color: #ef5da8;
  background-color: transparent;
  border-color: #ef5da8;
  border-width: 3px;
  border-style: solid;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding-top: 5px;
  cursor: context-menu;
  border-style: none;
  opacity: 0.5;
  cursor: pointer;
}

.btnMensualAct {
  width: 100%;
  height: 40px;
  font-family: Montserrat-M;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  text-align: center;
  letter-spacing: normal;
  color: #0075ff;
  background-color: transparent;
  border-color: #ef5da8;
  border-width: 3px;
  border-style: solid;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding-top: 5px;
  cursor: context-menu;
}

.btnMensualIna {
  width: 100%;
  height: 40px;
  font-family: Montserrat-M;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  text-align: center;
  letter-spacing: normal;
  color: #0075ff;
  background-color: transparent;
  border-color: #ef5da8;
  border-width: 3px;
  border-style: solid;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding-top: 5px;
  cursor: context-menu;
  border-style: none;
  opacity: 0.5;
  cursor: pointer;
}

.btnSemanalAct {
  width: 100%;
  height: 40px;
  font-family: Montserrat-M;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  text-align: center;
  letter-spacing: normal;
  color: #ff7c7c;
  background-color: transparent;
  border-color: #ef5da8;
  border-width: 3px;
  border-style: solid;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding-top: 5px;
  cursor: context-menu;
}

.btnSemanalIna {
  width: 100%;
  height: 40px;
  font-family: Montserrat-M;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  text-align: center;
  letter-spacing: normal;
  color: #ff7c7c;
  background-color: transparent;
  border-color: #ef5da8;
  border-width: 3px;
  border-style: solid;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding-top: 5px;
  cursor: context-menu;
  border-style: none;
  opacity: 0.5;
  cursor: pointer;
}

body {
  background-image: url(../../assets/vector/background.svg);
}

#bracketParti {
  margin: 0px;
  border-style: solid;
  border-color: #ef5da8;
  border-width: 3px;
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
  height: 20px;
}/*# sourceMappingURL=verElRuido.css.map */