//main Variable----------------------------------------------------------------
//* Variable de color
$blackGrey: #333333;
$blueLink: #0075ff;
$redWater: #ff7c7c;
$rose: #ef5da8;
$purple: #E1A0EA;

//main fonts-------------------------------------------------------------------
//* Fuente Semi-bold
@font-face {
    font-family: "Montserrat-SB";
    src: url(../../assets/fonts/Montserrat-SemiBold.ttf);
}

//* Fuente bold
@font-face {
    font-family: "Montserrat-B";
    src: url(../../assets/fonts/Montserrat-Bold.ttf);
}

//* Fuente medium
@font-face {
    font-family: "Montserrat-M";
    src: url(../../assets/fonts/Montserrat-Medium.ttf);
}

//* Fuente regular
@font-face {
    font-family: "Montserrat-R";
    src: url(../../assets/fonts/Montserrat-Regular.ttf);
}

//* Fuente thin
@font-face {
    font-family: "Montserrat-T";
    src: url(../../assets/fonts/Montserrat-Light.ttf);
}

//main Funciones para el CSS --------------------------------------------------

//funcion Determina el formato del texto
//param $align: alineacion del texto
//param $fsize: tamaño del texto
//param $fweight: peso del texto
//param $lineH: altura de la linea
//param $letterS: espaciado de letras
@mixin text($align, $fsize, $fweight, $lineH, $letterS) {
    //* Evaluamos $fweight y determinamos el peso del texto
    @if $fweight == "B" {
        font-family: Montserrat-B;
    } @else {
        @if $fweight == "R" {
            font-family: Montserrat-R;
        } @else {
            @if $fweight == "T" {
                font-family: Montserrat-T;
            } @else {
                @if $fweight == "SB" {
                    font-family: Montserrat-SB;
                } @else {
                    font-family: Montserrat-M;
                }
            }
        }
    }
    //* Determinamos el resto del formato
    font-size: $fsize;
    line-height: $lineH;
    color: $blackGrey;
    text-align: $align;
    letter-spacing: $letterS;
}

//funcion Determina la posicion de un elemento
//param $y1: posicion vertical inicial
//param $y2: posicion vertical menos altura del elemento sobre dos
//param $x1: posicion horizontal inicial
//param $x2: posicion horizontal menos ancho del elemento sobre dos
@mixin posicion($y1, $y2, $x1, $x2) {
    margin-top: $y1 - $y2;
    margin-left: $x1 - $x2;
}

//funcion Dibujamos lineas
//param $h: altura de la linea
//param $w: ancho de la linea
//param $b: ancho y radio del borde
@mixin dibujaLinea($h, $w, $b) {
    height: $h;
    width: $w;
    border-width: $b;
    border-radius: $b;
    border-style: solid;
    border-color: $blackGrey;
    background-color: $blackGrey;
}

//funcion Determina el formato para elementos hover
@mixin hoverSize() {
    transition: transform 150ms;
    cursor: pointer;

    &:hover {
        transform: scale(1.25);
    }
}

//funcion Determina el formato para elementos click
//param $activo : estado del elemento
//param $color : color del elemento
@mixin btnTopGrafica($activo, $color) {
    width: 100%;
    height: 40px;
    @include text(center, 24px, "M", 29px, normal);
    color: $color;
    background-color: transparent;
    border-color: $rose;
    border-width: 3px;
    border-style: solid;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    padding-top: 5px;
    cursor: context-menu;
    //* Estilo si esta inactivo
    @if ($activo==1) {
        border-style: none;
        opacity: 0.5;
        cursor: pointer;
    }
}

//funcion Estilo para elemento en profundidad z
//param $z: profundidad z
@mixin capa($z) {
    position: absolute;
    z-index: $z;
}

//main Imagenes----------------------------------------------------------------
//*Imagen que se mueve en el hero
.logoHero {
    animation-name: logoMove;
}

//* Dibujar línea vertical
.verticalLine {
    @include dibujaLinea(46.3vh, 0px, 3px);
    opacity: 0;
    @include posicion(50vh, 23.15vh, 50%, 0%);
    animation: appearResume 1s 4500ms forwards ease-out;
}

//* Resumen de la página
.divResume {
    height: auto;
    @include posicion(50vh, 13vh, 0px, 0px);
    opacity: 0;
    animation-delay: 4500ms;
    animation-name: appearResume;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

//* Imagenes de la sección de introducción
.introIcon {
    height: 40px;
    width: auto;
    margin-left: 50px;
    @include hoverSize();
}

//* Iconos de accesibilidad
.iconoAcce {
    height: 20px;
    width: auto;
    margin-left: 15px;
    @include hoverSize();
}

//* Iconos de tipos de descarga para imagen
.descargaImg {
    width: 50px;
    height: auto;
    margin-top: 80px;
    opacity: 0.5;
    @include hoverSize();

    &:hover {
        opacity: 1;
    }
}

//* Previsualización de la imagen a descargar
#imgOut {
    height: 600px;
    pointer-events: none;
}

//* Icono para copiar al portapapeles
.copiaPorta {
    height: 40px;
    opacity: 0.5;
    
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}

.imgCopiaPorta {
    height: 40px;
}

//main Animation---------------------------------------------------------------
//*Animación para el logo
@keyframes logoMove {
    0% {
        right: 0px;
    }
    100% {
        right: -24vw;
    }
}

//* Aparece el resumen de la página
@keyframes appearResume {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

//main Botones-----------------------------------------------------------------
//* Botón Anual activo
.btnAnualAct {
    @include btnTopGrafica(0, $rose);
}
//* Botón Anual inactivo
.btnAnualIna {
    @include btnTopGrafica(1, $rose);
}
//* Botón Mensual activo
.btnMensualAct {
    @include btnTopGrafica(0, $blueLink);
}
//* Botón Mensual inactivo
.btnMensualIna {
    @include btnTopGrafica(1, $blueLink);
}
.btnMolestiaAct {
    @include btnTopGrafica(0, $rose);
}
.btnMolestiaIna {
    @include btnTopGrafica(1, $rose);
}
.btnEspacioAct {
    @include btnTopGrafica(0, $blueLink);
}
.btnEspacioIna {
    @include btnTopGrafica(1, $blueLink);
}
.btnEmisorAct{
    @include btnTopGrafica(0, $redWater);
}
.btnEmisorIna{
    @include btnTopGrafica(1, $redWater);
}
.btnHorarioAct{
    @include btnTopGrafica(0, $purple);
}
.btnHorarioIna{
    @include btnTopGrafica(1, $purple);
}

//main Divs--------------------------------------------------------------------
//*Cuerpo del documento
body {
    //Imagen de ondas
    background-image: url(../../assets/vector/background.svg);
}

//* Braket de la sección de participación
#bracketParti {
    margin: 0px;
    border-style: solid;
    border-color: $rose;
    border-width: 3px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
    height: 20px;
}

//* Labels que aparecen como avisos a lo largo del sitio
.hoverLabel {
    color: white;
    background-color: rgba($blackGrey, 0.8);
    padding: 6px 10px 8px 10px;
    border-radius: 10px 0px 10px 10px;
    @include capa(1);
    filter: drop-shadow(0px 0px 1px $blackGrey);
    line-height: 20px;
    display: none;
}

//* Posición del label de descarga
.descargar {
    @include posicion(5px, 0px, 5px, 0px);
}

//* Posición del label de imagen
.imagen {
    @include posicion(5px, 0px, 90px, 0px);
}

//* Posición del menu y label de la opción de embedar
.embedar,
.embedarMenu {
    @include posicion(5px, 0px, 120px, 0px);
}

//* Posición del label para el icono de info en el swal cita
.citaInfo {
    @include posicion(0px, 40px, 0px, 150px);
}

//* Posición del lael para el icono de info en el swal embed
.embedInfo{
    @include posicion(0px, 40px, 0px, 170px);
}

//* Tamaño del swal de cita y embed
.citaSwal-height {
    height: 30vh;
}

//main Text
//* Opciones del menu de embed
.menuEmbed:hover {
    cursor: pointer;
    text-decoration: underline;
}

//* Formato del text área de los swal para cita y embed
.textoSwal {
    width: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: rgba($blackGrey, 0.5);
    padding: 20px;
    border-radius: 5px;
    resize: none;
}
