@font-face {
  font-family: "Montserrat-SB";
  src: url(../../assets/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: "Montserrat-B";
  src: url(../../assets/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat-M";
  src: url(../../assets/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Montserrat-R";
  src: url(../../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-T";
  src: url(../../assets/fonts/Montserrat-Light.ttf);
}
.mapaDF {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  cursor: pointer;
}
.mapaDF:hover {
  opacity: 0.75;
}

#GusA {
  margin-top: 0;
  margin-left: 157;
}

#Azca {
  margin-top: 73;
  margin-left: 121;
}

#MigH {
  margin-top: 114;
  margin-left: 93;
}

#Cuau {
  margin-top: 117.5;
  margin-left: 155;
}

#VenC {
  margin-top: 124;
  margin-left: 207.5;
}

#CuaM {
  margin-top: 175;
  margin-left: 0;
}

#AlvO {
  margin-top: 175;
  margin-left: 26;
}

#BenJ {
  margin-top: 173;
  margin-left: 149;
}

#Izta {
  margin-top: 159;
  margin-left: 199;
}

#Coyo {
  margin-top: 215;
  margin-left: 140;
}

#Iztp {
  margin-top: 179.5;
  margin-left: 195;
}

#MagC {
  margin-top: 239;
  margin-left: 33;
}

#Tlal {
  margin-top: 262;
  margin-left: 41;
}

#Xoch {
  margin-top: 258;
  margin-left: 182;
}

#Tlah {
  margin-top: 243;
  margin-left: 261;
}

#Milp {
  margin-top: 339;
  margin-left: 180;
}

.logoHero {
  -webkit-animation-name: logoMove;
          animation-name: logoMove;
}

.verticalLine {
  height: 46.3vh;
  width: 0px;
  border-width: 3px;
  border-radius: 3px;
  border-style: solid;
  border-color: #333333;
  background-color: #333333;
  opacity: 0;
  margin-top: 26.85vh;
  margin-left: 50%;
  -webkit-animation: appearResume 1s 4500ms forwards ease-out;
          animation: appearResume 1s 4500ms forwards ease-out;
}

.divResume {
  height: auto;
  margin-top: 37vh;
  margin-left: 0px;
  opacity: 0;
  -webkit-animation-delay: 4500ms;
          animation-delay: 4500ms;
  -webkit-animation-name: appearResume;
          animation-name: appearResume;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.introIcon {
  height: 40px;
  width: auto;
  margin-left: 50px;
  transition: transform 150ms;
  cursor: pointer;
}
.introIcon:hover {
  transform: scale(1.25);
}

.iconoAcce {
  height: 20px;
  width: auto;
  margin-left: 15px;
  transition: transform 150ms;
  cursor: pointer;
}
.iconoAcce:hover {
  transform: scale(1.25);
}

.descargaImg {
  width: 50px;
  height: auto;
  margin-top: 80px;
  opacity: 0.5;
  transition: transform 150ms;
  cursor: pointer;
}
.descargaImg:hover {
  transform: scale(1.25);
}
.descargaImg:hover {
  opacity: 1;
}

#imgOut {
  height: 600px;
  pointer-events: none;
}

.copiaPorta {
  height: 40px;
  opacity: 0.5;
  cursor: pointer;
}
.copiaPorta:hover {
  opacity: 1;
}

.imgCopiaPorta {
  height: 40px;
}

@-webkit-keyframes logoMove {
  0% {
    right: 0px;
  }
  100% {
    right: -24vw;
  }
}

@keyframes logoMove {
  0% {
    right: 0px;
  }
  100% {
    right: -24vw;
  }
}
@-webkit-keyframes appearResume {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearResume {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btnAnualAct {
  width: 100%;
  height: 40px;
  font-family: Montserrat-M;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  text-align: center;
  letter-spacing: normal;
  color: #ef5da8;
  background-color: transparent;
  border-color: #ef5da8;
  border-width: 3px;
  border-style: solid;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding-top: 5px;
  cursor: context-menu;
}

.btnAnualIna {
  width: 100%;
  height: 40px;
  font-family: Montserrat-M;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  text-align: center;
  letter-spacing: normal;
  color: #ef5da8;
  background-color: transparent;
  border-color: #ef5da8;
  border-width: 3px;
  border-style: solid;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding-top: 5px;
  cursor: context-menu;
  border-style: none;
  opacity: 0.5;
  cursor: pointer;
}

.btnMensualAct {
  width: 100%;
  height: 40px;
  font-family: Montserrat-M;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  text-align: center;
  letter-spacing: normal;
  color: #0075ff;
  background-color: transparent;
  border-color: #ef5da8;
  border-width: 3px;
  border-style: solid;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding-top: 5px;
  cursor: context-menu;
}

.btnMensualIna {
  width: 100%;
  height: 40px;
  font-family: Montserrat-M;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  text-align: center;
  letter-spacing: normal;
  color: #0075ff;
  background-color: transparent;
  border-color: #ef5da8;
  border-width: 3px;
  border-style: solid;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding-top: 5px;
  cursor: context-menu;
  border-style: none;
  opacity: 0.5;
  cursor: pointer;
}

.btnMolestiaAct {
  width: 100%;
  height: 40px;
  font-family: Montserrat-M;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  text-align: center;
  letter-spacing: normal;
  color: #ef5da8;
  background-color: transparent;
  border-color: #ef5da8;
  border-width: 3px;
  border-style: solid;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding-top: 5px;
  cursor: context-menu;
}

.btnMolestiaIna {
  width: 100%;
  height: 40px;
  font-family: Montserrat-M;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  text-align: center;
  letter-spacing: normal;
  color: #ef5da8;
  background-color: transparent;
  border-color: #ef5da8;
  border-width: 3px;
  border-style: solid;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding-top: 5px;
  cursor: context-menu;
  border-style: none;
  opacity: 0.5;
  cursor: pointer;
}

.btnEspacioAct {
  width: 100%;
  height: 40px;
  font-family: Montserrat-M;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  text-align: center;
  letter-spacing: normal;
  color: #0075ff;
  background-color: transparent;
  border-color: #ef5da8;
  border-width: 3px;
  border-style: solid;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding-top: 5px;
  cursor: context-menu;
}

.btnEspacioIna {
  width: 100%;
  height: 40px;
  font-family: Montserrat-M;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  text-align: center;
  letter-spacing: normal;
  color: #0075ff;
  background-color: transparent;
  border-color: #ef5da8;
  border-width: 3px;
  border-style: solid;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding-top: 5px;
  cursor: context-menu;
  border-style: none;
  opacity: 0.5;
  cursor: pointer;
}

.btnEmisorAct {
  width: 100%;
  height: 40px;
  font-family: Montserrat-M;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  text-align: center;
  letter-spacing: normal;
  color: #ff7c7c;
  background-color: transparent;
  border-color: #ef5da8;
  border-width: 3px;
  border-style: solid;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding-top: 5px;
  cursor: context-menu;
}

.btnEmisorIna {
  width: 100%;
  height: 40px;
  font-family: Montserrat-M;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  text-align: center;
  letter-spacing: normal;
  color: #ff7c7c;
  background-color: transparent;
  border-color: #ef5da8;
  border-width: 3px;
  border-style: solid;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding-top: 5px;
  cursor: context-menu;
  border-style: none;
  opacity: 0.5;
  cursor: pointer;
}

.btnHorarioAct {
  width: 100%;
  height: 40px;
  font-family: Montserrat-M;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  text-align: center;
  letter-spacing: normal;
  color: #E1A0EA;
  background-color: transparent;
  border-color: #ef5da8;
  border-width: 3px;
  border-style: solid;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding-top: 5px;
  cursor: context-menu;
}

.btnHorarioIna {
  width: 100%;
  height: 40px;
  font-family: Montserrat-M;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  text-align: center;
  letter-spacing: normal;
  color: #E1A0EA;
  background-color: transparent;
  border-color: #ef5da8;
  border-width: 3px;
  border-style: solid;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding-top: 5px;
  cursor: context-menu;
  border-style: none;
  opacity: 0.5;
  cursor: pointer;
}

body {
  background-image: url(../../assets/vector/background.svg);
}

#bracketParti {
  margin: 0px;
  border-style: solid;
  border-color: #ef5da8;
  border-width: 3px;
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
  height: 20px;
}

.hoverLabel {
  color: white;
  background-color: rgba(51, 51, 51, 0.8);
  padding: 6px 10px 8px 10px;
  border-radius: 10px 0px 10px 10px;
  position: absolute;
  z-index: 1;
  filter: drop-shadow(0px 0px 1px #333333);
  line-height: 20px;
  display: none;
}

.descargar {
  margin-top: 5px;
  margin-left: 5px;
}

.imagen {
  margin-top: 5px;
  margin-left: 90px;
}

.embedar,
.embedarMenu {
  margin-top: 5px;
  margin-left: 120px;
}

.citaInfo {
  margin-top: -40px;
  margin-left: -150px;
}

.embedInfo {
  margin-top: -40px;
  margin-left: -170px;
}

.citaSwal-height {
  height: 30vh;
}

.menuEmbed:hover {
  cursor: pointer;
  text-decoration: underline;
}

.textoSwal {
  width: 100%;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(51, 51, 51, 0.5);
  padding: 20px;
  border-radius: 5px;
  resize: none;
}

.alcLink:hover {
  text-decoration: underline;
  cursor: pointer;
}/*# sourceMappingURL=verElRuido.css.map */